@font-face {
	font-family: 'Overused Grotesk';
	src: url('source/fonts/OverusedGroteskRoman-VF.woff2') format('woff2-variations');
	font-feature-settings: "liga" 1, "kern" 1;
	font-style: normal; font-weight: 300 900;
}

@font-face {
	font-family: 'Cygre Neuer';
	src: url('source/fonts/CygreNeuer-VF.woff2') format('woff2-variations');
	font-feature-settings: "liga" 1, "kern" 1;
	font-style: normal; font-weight: 300 900;
}

@font-face {
	font-family: 'Random Grotesque Spacious Black';
	src: url('source/fonts/RG-SpaciousBlackIt.woff2') format('woff2');
	font-feature-settings: "liga" 1, "kern" 1;
	font-style: normal; font-weight: 400;
}

@font-face {
	font-family: 'Outreque Bold';
	src: url('source/fonts/OutrequeBold.woff2') format('woff2');
	font-feature-settings: "liga" 1, "kern" 1;
	font-style: normal; font-weight: 400;
}

@font-face {
	font-family: 'Ultramono Wide Bold';
	src: url('source/fonts/UltramonoWide-Bold.woff2') format('woff2');
	font-feature-settings: "liga" 1, "kern" 1;
	font-style: normal; font-weight: 400;
}

@font-face {
	font-family: 'Blobability';
	src: url('source/fonts/Blobability.woff2') format('woff2');
	font-feature-settings: "liga" 1, "kern" 1;
	font-style: normal; font-weight: 400;
}

body{
	font-family: 'Overused Grotesk', sans-serif;
	background-color: #e6e6e6;
    margin: 0;	width: 100%; height: 100%;
}

a{color: inherit; text-decoration: none;}

.topnav{
	background-color: #1a1a1a;
	overflow: hidden;
	position: fixed;
	top: 0;	width: 100%;
}

.topnav a{
	float: left;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	letter-spacing: 0.4px;
	padding: 10px 20px 10px 20px;
}

.topnav-left{float: left; margin-left: 0%;}
.topnav-right{float: right; margin-right: 0%;}
.topnav-right a.active{background-color: #e6e6e6; color: #000000;}

.button{
	font-weight: 700;
	font-size: 22px; letter-spacing: 1px;	
	font-feature-settings: "ss02" 1, "ss03" 1, "ss11" 1, "ss09" 1, "ss06" 1;
	text-decoration: none;
	background-color: #1a1a1a; color: #ffffff;
	border: none; border-radius: 10px;
	padding: 10px 25px; margin-top: 10px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

.buttonOff{
	font-weight: 400;
	font-size: 22px; letter-spacing: 1px;	
	font-feature-settings: "ss02" 1, "ss03" 1, "ss11" 1, "ss09" 1, "ss06" 1;
	text-decoration: none;
	background-color: #afafaf; color: #000000;
	border: none; border-radius: 10px;
	padding: 10px 25px; margin-top: 10px;
	text-align: center;
	display: inline-block;
	cursor: default;
	user-select: none;
}

hr{color: #1a1a1a; margin: 0% 20px 0% 20px;}

.grey{color: #e4e4e4; margin-top: 170px;}

header{
    font-size: min(65px, 11vw); line-height: 1.0; letter-spacing: -0.7px;
	font-feature-settings: "dlig" 1, "ss03" 1, "ss04" 1, "ss05" 1, "ss07" 1, "ss08" 1, "ss09" 1, "ss10" 1;
    color: #000000;
	padding: 170px 10% 70px 10%;
}

.main{text-align: center}

h1{
    font-weight: 700;
    font-size: 40px; line-height: 1;
	font-feature-settings: "ss02" 1, "ss03" 1, "ss11" 1, "ss09" 1, "ss06" 1;
	color: #000000;
	margin-left: 0%; margin-right: 0%; padding: 0px 10% 0px 10%;
}

h2{
    font-size: min(180px, 9vw); line-height: 0.9;
	color: #000000;
	margin-top: 40px; margin-bottom: 40px; padding: 0px 20px 0px 20px;
	text-align: left;
}

p{
	font-weight: 400;
	font-style: normal;
    font-size: min(22px, 4vw); line-height: 1.5; letter-spacing: 1px;
	color: #000000;
	padding: 0px 20px 0px 20px;
	font-feature-settings: "ss02" 1, "ss03" 1, "ss11" 1, "ss09" 1, "ss06" 1;
}

.OG{	font-family: 'Overused Grotesk', sans-serif; 				font-weight: 800;}
.CYGRE{	font-family: 'Cygre Neuer', sans-serif; 					font-weight: 700;}
.RG{	font-family: 'Random Grotesque Spacious Black', sans-serif;	font-weight: 400;}
.OUTRQ{	font-family: 'Outreque Bold', sans-serif; 					font-weight: 400;}
.ULTRA{	font-family: 'Ultramono Wide Bold', sans-serif; 			font-weight: 400;}
.BLOB{	font-family: 'Blobability', sans-serif; 					font-weight: 400;}

footer{
	position: bottom;
	font-weight: 400;
    font-size: 15px; letter-spacing: 0.4px; line-height: 1.6;
	font-feature-settings: "ss02" 1, "ss03" 1, "ss11" 1, "ss09" 1, "ss06" 1;
    background-color: #1a1a1a; color: #ffffff;
	margin-top: 20%; padding: 50px 10% 50px 10%;
}