@font-face {
	font-family: 'Overused Grotesk';
	src: url('https://raw.githubusercontent.com/RandomMaerks/Overused-Grotesk/master/fonts/variable/OverusedGroteskRoman-VF.ttf');
	font-feature-settings: "liga" 1, "kern" 1;
	font-style: normal; font-weight: 300 900;
}

@font-face {
	font-family: 'Blobability';
	src: url('source/fonts/Blobability.woff2') format('woff2');
	font-feature-settings: "liga" 1, "kern" 1;
	font-style: normal; font-weight: 400;
}

html{
	scrollbar-width: thin;
	scrollbar-color: #1a1a1a #e6e6e6;
	overflow-x: hidden;
}

body{
	font-family: 'Overused Grotesk', sans-serif;
	background-color: #e6e6e6;
    margin: 0;	width: 100%; height: 100%;
}

::selection{background-color: #aaaaaa;}

a{color: inherit; text-decoration: none;}

header{
	background-color: transparent;
	padding: 10px 10% 20px 10%;
	color: #000000;
	text-decoration: none;
	font-size: min(25px, 5vw);
	line-height: 120%;
	font-feature-settings: "ss03" 1;
}

.right{
	float: right;
	text-align: right;
}

a.active{
	font-weight: 700;
}

.button{
	font-weight: 700;
	font-size: min(30px, 5vw); letter-spacing: 0.3px; line-height: 2.4;
	font-feature-settings: "ss02" 1, "ss03" 1, "ss11" 1, "ss09" 1, "ss06" 1;
	background-color: #1a1a1a; color: #ffffff;
	border: none; border-radius: 25px;
	padding: 10px 30px;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

a.button:hover{
	background: transparent;
	border: 2px solid #1a1a1a;
	color: #000000;
}

.buttonOff{
	font-weight: 400;
	font-size: 22px; letter-spacing: 1px;	
	font-feature-settings: "ss02" 1, "ss03" 1, "ss11" 1, "ss09" 1, "ss06" 1;
	text-decoration: none;
	background-color: #afafaf; color: #000000;
	border: none; border-radius: 10px;
	padding: 10px 25px; margin-top: 10px;
	text-align: center;
	display: inline-block;
	cursor: default;
	user-select: none;
}

hr{color: #1a1a1a; margin: 0% 20px 0% 20px;}

.grey{color: #e4e4e4; margin-top: 170px;}

.main{text-align: center}

h1{
    font-weight: 700;
    font-size: min(50px, 9vw); line-height: 1;
	font-feature-settings: "ss02" 1, "ss03" 1, "ss11" 1, "ss09" 1, "ss06" 1;
	color: #000000;
	margin-bottom: -20px; padding: 0px 10% 0px 10%;
}

h2{
    font-size: min(100px, 9vw); line-height: 0.9;
	color: #000000;
	margin-top: 40px; margin-bottom: 40px; padding: 0px 10% 0px 10%;
	text-align: left;
}

p{
	font-weight: 400;
	font-style: normal;
    font-size: min(25px, 4vw); line-height: 1.3; letter-spacing: 0.5px;
	color: #000000;
	padding: 0px 10% 0px 10%;
	font-feature-settings: "ss02" 1, "ss03" 1, "ss11" 1, "ss09" 1, "ss06" 1;
}

p.divide{
	padding-left: 0%;
	font-weight: 700;
}

header.rg{
	background-color: #ffffff;
}

header.og{
	background-color: #1e1e1c;
	color: #adad9c;
}

header.outreque{
	background-color: #56433A;
	color: #D8A893;
	text-shadow: 2px 2px 20px #000000;
}

header.ultramono{
	background-color: #587777;
	color: #BFFFFD;
}

.OG{	font-family: 'Overused Grotesk', sans-serif; font-weight: 800;}
.BLOB{	font-family: 'Blobability', sans-serif; 	 font-weight: 400;}

footer{
	bottom: 0; left: 0; right: 0;
	font-weight: 700;
    font-size: max(300px, 30vw); letter-spacing: -3%; line-height: 0.9;
	font-feature-settings: "ss03" 1;
    background-color: #e6e6e6; color: #000000;
	background-image: linear-gradient(transparent, #1a1a1a);
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-color: #000000 #1f1f1f;
	scrollbar-width: thin;
	user-select: none;
}

.highlight{
	border-radius: 25px;
	border: 2px dotted #1a1a1a;
	padding: 0 15px;
	font-weight: 700;
}

.highlight:hover{
	background: #1a1a1a;
	color: #ffffff;
}

.langList{
	height: 300px;
	overflow-y: scroll;	
	scrollbar-width: thin;
	scrollbar-color: #1a1a1a #e6e6e6;
}